# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/
ENV/
.env
.envrc

# SSH / keys / secrets
*.pem
id_rsa
id_ed25519
*.key

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Data & artifacts (DS/ML critical)
# -------------------------
data/
artifacts/
models/
*.csv
*.xlsx
*.parquet
*.feather
*.pkl
*.joblib

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

